* {
    font-family: Futura;
    background-color: tan;
}

ul > li {
    display: inline-block;

h1 {
    font-weight: bold;
}

img {
    max-width: 5%;
    height: auto;
}
    
p {
    font-size: 16px;
}
