* {
    font-family: Futura;
    background-color: palegoldenrod;
}

#banner {
    background-color: #aaeee8 !important;
    height: 120px;
}

#banner > h1 {
    font-weight: bold;
    margin-left: 4%;
    margin-right: auto;
    background-color: #aaeee8;
}

menu {
    margin-top:-1%;
    margin-left: 0%;
    margin-right: auto;
    background-color: #aaeee8;
}

menu > li {
    display: inline-block;
    padding: 14px;
    background-color: #aaeee8;
}

menu > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #e68089;
    background-color: #aaeee8;
}

menu > li > a:hover {
    text-decoration: underline;
}

#self_portrait > img {
    float: left;
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-right: 2%;
}

#home_paragraph > p {
    float: left;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {

    #banner {
        height: 100px;
    }

    menu > li > a {
        text-decoration: none;
        font-weight: bold;
        font-size: 75%;
        color: #e68089;
        background-color: #aaeee8;
    }
    
    #home_paragraph > p {
        float: left;
        font-size: 75%;
    }

    #self_portrait > img {
            float: left;
            width: 100px;
            max-width: 100%;
            height: auto;
            margin-right: 2%;
    }
}